/* Helpers */
main img {
    width: 100%;
    height: auto;
}

/* Section Latest News */
.section-latest-news {
    /* other styles... */
}

@media (max-width: 767px) {
    .section-latest-news .row {
        flex-direction: column;
    }
}

/* Grid section */
.section-grid {
    /* other styles... */
}

@media (max-width: 767px) {
    :root {
        --section-padding: 5rem 1.5rem;
        --section-body-padding: 2rem 0 0;
    }

    .ul.row,
    .row {
        flex-direction: column;
        margin: 0;
    }

    [class^="col-"] {
        margin: 0 0 3rem 0;
    }

    .col-1-3,
    .col-1-2 {
        width: 100%;
    }
}

/* Navbar section */
.navbar {
    /* other styles... */
}

@media (max-width: 767px) {
    .navbar-menu {
        display: none; /* Hide the navbar menu on smaller screens */
    }
}
