/* menu btn */
.menu-btn {
    display: none; /* Hide the menu button */
}

.navbar-menu {
    display: none; /* Hide the menu by default */
}

/* When menu-btn is checked, display the menu */
.menu-btn:checked ~ .navbar-menu {
    display: block; /* Show the menu */
}

.navbar-menu {
    /* Styles for the navbar-menu */
}

.navbar-menu nav {
    max-height: 100%; /* Expand when menu button is checked */
    overflow: inherit; /* Allow overflow to inherit */
}

/* Styles for hamburger icon when checked */
.menu-btn:checked + .menu-icon .navicon {
    background: transparent; /* Change navicon background to transparent */
}

.menu-btn:checked + .menu-icon .navicon::before {
    transform: rotate(-45deg); /* Rotate the top bar */
    top: 0; /* Align the top bar */
}

.menu-btn:checked + .menu-icon .navicon::after {
    transform: rotate(45deg); /* Rotate the bottom bar */
    top: 0; /* Align the bottom bar */
}

/* Media query for max-width: 767px */
@media (max-width: 767px) {
    .section-hero {
        margin: -0.1rem 0; /* Margin adjustments for hero section */
    }

    .hero-homepage {
        background-position: 85% 0; /* Adjust background position */
    }

    .section-body {
        padding: 2rem; /* Adjust padding for body */
    }
}

/* Media query adjustments */
@media (max-width: 767px) {
    :root {
        --header-padding: 2rem 0 0; /* Redefine header padding variable */
    }

    header {
        background: var(--color-black); /* Set background color */
    }

    .header-container {
        flex-wrap: wrap; /* Allow flex items to wrap */
        padding: 0 1.5rem; /* Set padding */
    }

    .menu-icon {
        display: block; /* Show the menu icon */
    }
}

/* Media query for max-width: 480px */
@media (max-width: 480px) {
    .header-logo {
        flex-basis: 70%; /* Adjust logo width */
    }
}

/* Media query for 481px to 767px */
@media (min-width: 481px) and (max-width: 767px) {
    .header-logo {
        flex-basis: 79%; /* Adjust logo width */
    }
}

/* Hide menu icon on desktop */
@media (min-width: 768px) {
    .header .menu-icon {
        display: none; /* Hide menu icon in desktop mode */
    }
}
