/* Footer section */

/* Other styles here */

/* Improve the "Footer" section */
@media (max-width: 767px) {
    :root {
        --footer-padding: 5rem 2rem 1rem; /* Override footer-padding variable */
    }

    .footer .social.nav,
    .footer .footer-nav {
        text-align: center; /* Center-align text for social and footer nav */
    }

    .footer .social.nav li + li,
    .footer .footer-nav li + li {
        padding-left: 2rem; /* Add left padding to the second li and onwards */
    }
}
