:root {
    --section-header-align: center;
    --section-tagline-transform: uppercase; /* Define the transform property */
}

/* Align section-header */
.section-header {    
    text-align: var(--section-header-align);
}

/* Styles for the section-tagline */
.section-tagline {
    font-family: var(--font-family-title); /* Set the font family */
}

.section-tagline {
    text-transform: var(--section-tagline-transform); /* Apply the transform */
}

.section-tagline {
    font-weight: var(--font-weight-bold); /* Set the font weight */
}
