:root {
    --section-header-align: center;
    --section-tagline-transform: uppercase; /* Custom property for text transformation */
}

/* Align section-header */
.section-header {    
    text-align: var(--section-header-align);
}

/* Targeting the section-tagline class */
.section-tagline {
    font-family: var(--font-family-title); /* Set font-family */
}

.section-tagline {
    text-transform: var(--section-tagline-transform); /* Set text-transform */
}

.section-tagline {
    font-weight: var(--font-weight-bold); /* Set font-weight */
}
