:root {
    --section-tagline-transform: uppercase;
}

/* Set font family, transform, and weight for section-tagline */
.section-tagline {
    font-family: var(--font-family-title);
    text-transform: var(--section-tagline-transform);
    font-weight: var(--font-weight-bold);
}
