/* Selector for unvisited links */
a:link {
    color: inherit; /* Use inherited color or define a specific color */
}

/* Selector for visited links */
a:visited {
    font-style: italic; /* Set font style to italic for visited links */
}

/* Selector for hover state of the link */
a:hover {
    text-decoration: underline; /* Underline the text on hover */
}

/* Selector for active state of the link */
a:active {
    background-color: var(--color-light-grey); /* Set background color on active state */
}
