:root {
    --section-tagline-margin: 0; /* Custom property for section tagline margin */
}

/* Section tagline styles */
.section-tagline {
    margin: var(--section-tagline-margin); /* Set margins to the custom property */
}

/* Styles for all ul with class 'row' */
.row {
    margin: 0; /* No margins all around */
    padding: 0; /* No padding all around */
    list-style: none; /* Remove default styles */
}

/* Styles for col-1-3 class */
.col-1-3 {
    width: 33.33%; /* Set width to 33.33% of its parent */
    float: left; /* Float to the left */
    padding: calc(var(--section-padding) / 2); /* Set padding to half of the root element */
}

/* Styles for col-1-2 class */
.col-1-2 {
    width: 50%; /* Set width to 50% of its parent */
    float: left; /* Float to the left */
    padding: calc(var(--section-padding) / 2); /* Set padding to half of the root element */
}

/* Styles for footer-copyright class */
.footer-copyright {
    margin: 0; /* No margins */
    font-size: var(--font-size-small); /* Set the size of the fonts to font-size-small */
    color: var(--text-color); /* Set the foreground color to text-color */
}

/* Styles for all ul tags in the footer class */
.footer ul {
    text-align: right; /* Align the text to the right */
}
