/* Set margin for .card-title inside .card-services to none */
.card-services .card-title {
    margin: 0;
}

/* Display anchor links inside .card-services as block-level elements and set padding */
.card-services a {
    display: block;
    padding: 2rem;
    background-color: var(--color-light-grey);
}

/* Hover state for anchor links inside .card-services */
.card-services a:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
    text-decoration: none;
}

/* Add custom properties */
:root {
    --button-display: inline-block;
    --button-padding: 1.5rem 3rem;
    --button-border: 0.2rem solid var(--color-primary);
    --button-color: var(--color-black); /* Use var() for color */
    --button-text-decoration: none;
    --button-font-size: var(--font-size-large);
    --button-hover-color: var(--color-white);
    --button-hover-text-decoration: none;
    --button-hover-background: var(--color-primary);
}

/* Button class styles */
.button {
    display: var(--button-display);
    padding: var(--button-padding);
    border: var(--button-border);
    font-size: var(--button-font-size);
    color: var(--button-color);
    text-decoration: var(--button-text-decoration);
}

/* Hover state for buttons */
.button:hover {
    color: var(--button-hover-color);
    text-decoration: var(--button-hover-text-decoration);
    background: var(--button-hover-background);
}

/* Dark theme adjustments for button */
[data-section-theme="dark"] .button {
    --button-color: var(--color-white); /* Custom property for dark theme */
}
