/* Root styles for buttons */
.button {
    display: var(--button-display, inline-block);
    padding: var(--button-padding, 1.5rem 3rem);
    border: var(--button-border, 0.2rem solid var(--color-primary));
    color: var(--button-color, var(--color-black));
    text-decoration: var(--button-text-decoration, none);
    font-size: var(--button-font-size, var(--font-size-large));
}

/* Hover state for buttons */
.button:hover {
    color: var(--button-hover-color, var(--color-white));
    background-color: var(--button-hover-background, var(--color-primary));
    text-decoration: var(--button-hover-text-decoration, none);
}

/* Dark theme adjustments */
[data-section-theme="dark"] .button {
    color: var(--color-white);
}
