:root {
    /* Custom properties */
    --nav-item-link-hover: color-white; /* Set the hover color for nav links */
    --nav-item-link-hover-bg: color-primary; /* Set the background color for hover state */
}

nav {
    /* Styles for the nav element */
}

.nav-link {
    /* Base styles for the nav links */
    position: relative; /* Ensure the position is set for the before pseudo-element */
}

.nav-link:before {
    /* Target before state of nav-link inside nav */
    content: ""; /* Set content to empty */
    position: absolute; /* Position it absolutely */
    bottom: 0; /* Set position to bottom */
    left: 0; /* Set position to left */
    background-color: var(--nav-item-link-hover); /* Set background color */
    width: 0; /* Initial width */
    height: 0.2rem; /* Set height */
    transition: width 0.3s; /* Add transition for width */
}

.nav-item:hover .nav-link:before {
    /* Target before state of nav-link when nav-item is hovered */
    background-color: var(--nav-item-link-hover-bg); /* Change background color on hover */
    width: 100%; /* Expand width on hover */
}
