.card-work {
    position: relative; /* Position set to relative */
    overflow: hidden; /* Overflow set to hidden */
}

.card-image img {
    height: 30rem; /* Height set to 30rem */
    width: 100%; /* Width set to 100% */
    object-fit: cover; /* Object-fit set to cover */
    vertical-align: bottom; /* Vertical-align set to bottom */
}

.card-inner {
    position: absolute; /* Position set to absolute */
    top: -0.1rem; /* Top set to -0.1rem */
    left: -0.1rem; /* Left set to -0.1rem */
    right: -0.1rem; /* Right set to -0.1rem */
    z-index: 1; /* Z-index set to 1 */
}

.card-work:hover .card-inner {
    background-color: rgba(0, 0, 0, 0.7); /* Background-color set to rgba(0, 0, 0, 0.7) */
}

.card-title {
    text-align: center; /* Text-align set to center */
    margin: 0; /* Margin set to 0 */
    opacity: 0; /* Opacity set to 0 */
    height: 100%; /* Height set to 100% */
    position: relative; /* Position set to relative */
}

.card-title a {
    display: block; /* Display set to block */
    text-decoration: none; /* Text-decoration set to none */
    padding-top: 45%; /* Padding-top set to 45% */
}

.card-title a::after {
    position: absolute; /* Position set to absolute */
    top: 0; /* Top set to 0 */
    left: 0; /* Left set to 0 */
    right: 0; /* Right set to 0 */
    bottom: 0; /* Bottom set to 0 */
    content: ""; /* Content set to empty */
}

.card-work:hover .card-title {
    opacity: 1; /* Opacity set to 1 on hover */
}
