.card-work .card-outer {
    position: relative; /* Relatively position the element */
    overflow: hidden; /* Hide any overflow */
}

.card-work .card-image img {
    height: 30rem; /* Set height */
    width: 100%; /* Set width */
    object-fit: cover; /* Set object-fit */
    vertical-align: bottom; /* Vertically align to the bottom */
}

.card-work .card-inner {
    position: absolute; /* Absolutely position the element */
    top: -0.1rem; /* Vertical position */
    left: -0.1rem; /* Horizontal position */
    right: -0.1rem; /* Horizontal position */
    z-index: 1; /* Set z-order */
}

.card-work:hover .card-inner {
    background-color: rgba(0, 0, 0, 0.7); /* Set background color */
}

.card-work .card-title {
    text-align: center; /* Center align the text */
    margin: 0; /* Margins all around should be 0 */
    opacity: 0; /* Opacity should be set to its lowest value */
    height: 100%; /* Set height */
    position: relative; /* Position should be relative */
}

.card-work .card-title a {
    display: block; /* Make sure elements display as blocks */
    text-decoration: none; /* Text should not be decorated */
    padding-top: 45%; /* Padding on the top */
}

.card-work .card-title a::after {
    position: absolute; /* Absolutely position the selected elements */
    top: 0; 
    right: 0; 
    left: 0; 
    bottom: 0; 
    content: ""; /* Content property should have an empty value */
}

.card-work:hover .card-title {
    opacity: 1; /* Set opacity */
}
